<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">
	<insert id="insert">
		insert into account (account_id, account_pw, account_nickname, 
		account_email, account_birth, account_contact,
		account_post, account_address1, account_address2)
		values (
		#{accountId}, #{accountPw}, #{accountNickname}, #{accountEmail}, 
		#{accountBirth}, #{accountContact}, #{accountPost}, 
		#{accountAddress1}, #{accountAddress2}
		)
	</insert>
	
	<select id="detail-id" resultType="AccountDto">
		select * from account where account_id = #{accountId}
	</select>
	
	<select id="detail-nickname" resultType="AccountDto">
		select * from account where account_nickname = #{accountNickname}
	</select>
	
	<select id="search" resultType="AccountDto">
<!-- 		select * from account  -->
<!-- 		where instr(#1 -> $, ? -> #) > 0 and account_level != '관리자' -->
<!-- 		order by #1 asc, account_id asc -->
			select * from account 
			where
				instr(${column}, #{keyword}) > 0
				and
				account_level != '관리자'
			order by ${column} asc, account_id asc
	</select>
</mapper>