<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">
	<insert id="insert">
		insert into account (account_id, account_pw, account_nickname, 
		account_email, account_birth, account_contact,
		account_post, account_address1, account_address2)
		values (
		#{accountId}, #{accountPw}, #{accountNickname}, #{accountEmail}, 
		#{accountBirth}, #{accountContact}, #{accountPost}, 
		#{accountAddress1}, #{accountAddress2}
		)
	</insert>
	
	<select id="detail-id" resultType="AccountDto">
		select * from account where account_id = #{accountId}
	</select>
	
	<select id="detail-nickname" resultType="AccountDto">
		select * from account where account_nickname = #{accountNickname}
	</select>
	
	<select id="search" resultType="AccountDto">
<!-- 		select * from account  -->
<!-- 		where instr(#1 -> $, ? -> #) > 0 and account_level != '관리자' -->
<!-- 		order by #1 asc, account_id asc -->
		select * from account 
		where 
			instr(${column}, #{keyword}) > 0 
			and 
			account_level != '관리자' 
		order by ${column} asc, account_id asc
	</select>
	
	<select id="complexSearch" resultType="AccountDto">
		select * from account
		<where>		
			<if test="accountId != null">
				and instr(account_id, #{accountId}) > 0		
			</if>
			<if test="accountNickname != null">
				and instr(account_nickname, #{accountNickname}) > 0		
			</if>
			<if test="accountEmail != null">
				and instr(account_email, #{accountEmail}) > 0		
			</if>
			<if test="accountContact != null">
				and account_contact like #{accountContact} || '%'
			</if>
			<if test="accountBirth != null">
				and account_birth = #{accountBirth}
			</if>
			<choose>
				<when test="minAccountPoint != null and maxAccountPoint != null">
					and account_point between #{minAccountPoint} and #{maxAccountPoint}
				</when>
				<when test="minAccountPoint != null">
<!-- 					and account_point &gt;= #{minAccountPoint} -->
					<![CDATA[
						and account_point >= #{minAccountPoint}
					]]>
				</when>
				<when test="maxAccountPoint != null">
<!-- 					and account_point &lt;= #{maxAccountPoint} -->
					<![CDATA[
						and account_point <= #{maxAccountPoint}
					]]>
				</when>
			</choose>
			<choose>
				<when test="beginAccountJoin != null and endAccountJoin != null">
					and account_join between 
					to_timestamp(#{beginAccountJoin} || '00.00.00.000', 'yyyy-mm-dd hh24:mi:ss.ff3') 
					and 
					to_timestamp(#{endAccountJoin} || '23.59.59.999', 'yyyy-mm-dd hh24:mi:ss.ff3') 
				</when>
				<when test="beginAccountJoin != null">
					<![CDATA[
						and account_join >= to_timestamp(#{beginAccountJoin} || '00.00.00.000', 'yyyy-mm-dd hh24:mi:ss.ff3')
					]]>
				</when>
				<when test="endAccountJoin != null">
					<![CDATA[
						and account_join <= to_timestamp(#{endAccountJoin} || '23.59.59.999', 'yyyy-mm-dd hh24:mi:ss.ff3')
					]]>
				</when>
			</choose>
			<if test="accountLevelList != null and accountLevelList.size() > 0">
				<foreach item="accountLevel" collection="accountLevelList" separator="," open="and account_level in (" close=")">
					#{accountLevel}
				</foreach> 
			</if>
		</where>
	</select>
		
</mapper>